<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.XLS" version="7.3.14" targetFramework="net40-Client" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40-Client" />
  <package id="Spire.XLS" version="7.6.1" targetFramework="net40-Client" />
</packages>